.settings__wrapper {
	padding: 20px;
	border-radius: 5px;
	background: var(--primary-color);
}
.settings__title {
	color: var(--heading-color);
	font-weight: 500;
	margin-bottom: 2rem;
}
p {
	font-weight: lighter;
}
.settings__top {
	display: flex;
	align-items: center;
	column-gap: 2.7rem;
	margin-bottom: 1.5rem;
}
.setting__btn {
	border: none;
	border: none;
	padding: 7px 25px;
	background: transparent;
	border-radius: 5px;
	color: var(--heading-color);
	font-size: 1rem;
	cursor: pointer;
}
.active__btn {
	background: #b7ffe913;
}
.profile__title {
	color: var(--heading-color);
	font-weight: 500;
	margin-bottom: 5px;
}
.profile__desc {
	color: var(--small-text-color);
	margin-bottom: 2rem;
}
label {
	color: var(--heading-color);
	margin-bottom: 5px;
	font-size: 0.9rem;
}
.form__group {
	div {
		display: flex;
		flex-direction: column;
		width: 47%;
		input {
			width: max-content;
			padding: 12px 20px;
			border-radius: 5px;
			background: transparent;
			border: 1px solid #b7ffe913;
			color: var(--heading-color);
			font-size: 1rem;
			&::placeholder {
				color: var(--small-text-color);
				font-size: 0.9rem;
			}
		}
	}
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 20rem;
	margin-bottom: 2rem;
}
.profile-img__desc {
	color: var(--small-text-color);
	margin-bottom: 10px;
}
.profile__img-btns {
	display: flex;
	flex-direction: row !important;
	column-gap: 2.7rem;
}
.dlt__btn {
	border: none;
	outline: none;
	background: transparent;
	color: #ddd;
	font-size: 0.9rem;
	cursor: pointer;
}
.update__btn {
	border: none;
	outline: none;
	background: transparent;
	color: #ddd;
	font-size: 0.9rem;
	cursor: pointer;
	color: var(--secondary-color);
}
.settings {
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
	width: 95%;
	margin: 2em auto 0;
	overflow-x: hidden;
}
h5 {
	padding-bottom: 30px;
}
